In [1]:
# import numpy as np  # whole numpy lib is available, prepend 'np.'
from numpy import average, std
from numpy.random import random, randint, normal, shuffle,uniform
import scipy
from scipy.stats import ttest_ind
import seaborn as sns
import fnmatch
import os  # handy system and path functions
import sys  # to get file system encoding
import csv
from pandas import DataFrame, read_csv
import matplotlib.pyplot as plt
import pandas as pd  
import matplotlib
print('Python version ' + sys.version)
print('Pandas version ' + pd.__version__)
print('Matplotlib version ' + matplotlib.__version__)

Python version 3.8.3 (default, Jul  2 2020, 17:30:36) [MSC v.1916 64 bit (AMD64)]
Pandas version 1.0.5
Matplotlib version 3.2.2

In [2]:
subjects22=['256','258','259','260','262','263','265','266','267','268','269','270','271','272','273','274','275','276','277','278','279','280']
all_subjects=[subjects22]
where_files = r'Z:/AlphaStudy_Data/behavData/post_matching_brad/color_constant_and_extra_distractorSpatialCues/'
#path to files
files=os.listdir(where_files)

In [3]:
all_subs_dfs=[] # a list of dataframes
all_subs_data=pd.DataFrame()
for sub_list in all_subjects:
    for sub_name in sub_list:
        for f_name in files:
            pattern='%s_alpha_singleton_ColorConstant_MATCHING_BRAD_extraDisCues_*_*_*_*_*.csv' %sub_name
            if fnmatch.fnmatch(f_name,pattern):
                print(f_name)
                thisSub_data=pd.read_csv(where_files+f_name) #import subject data if filename matches pattern
                thisSub_data['subject']=sub_name
                all_subs_dfs.append(thisSub_data)
                all_subs_data=all_subs_data.append(thisSub_data)

256_alpha_singleton_ColorConstant_MATCHING_BRAD_extraDisCues_01_2020_Feb_25_1354.csv
258_alpha_singleton_ColorConstant_MATCHING_BRAD_extraDisCues_01_2020_Feb_26_1313.csv
259_alpha_singleton_ColorConstant_MATCHING_BRAD_extraDisCues_01_2020_Feb_27_1236.csv
260_alpha_singleton_ColorConstant_MATCHING_BRAD_extraDisCues_01_2020_Mar_02_0906.csv
262_alpha_singleton_ColorConstant_MATCHING_BRAD_extraDisCues_01_2020_Mar_03_0901.csv
263_alpha_singleton_ColorConstant_MATCHING_BRAD_extraDisCues_01_2020_Mar_03_1029.csv
265_alpha_singleton_ColorConstant_MATCHING_BRAD_extraDisCues_01_2020_Mar_04_0956.csv
266_alpha_singleton_ColorConstant_MATCHING_BRAD_extraDisCues_01_2020_Mar_04_1332.csv
267_alpha_singleton_ColorConstant_MATCHING_BRAD_extraDisCues_01_2020_Mar_05_1227.csv
268_alpha_singleton_ColorConstant_MATCHING_BRAD_extraDisCues_01_2020_Mar_05_1607.csv
269_alpha_singleton_ColorConstant_MATCHING_BRAD_extraDisCues_01_2020_Mar_06_1205.csv
270_alpha_singleton_ColorConstant_MATCHING_BRAD_extraDisCues_01_2020_Mar_06_1410.csv
271_alpha_singleton_ColorConstant_MATCHING_BRAD_extraDisCues_01_2020_Mar_06_1533.csv
272_alpha_singleton_ColorConstant_MATCHING_BRAD_extraDisCues_01_2020_Mar_09_0901.csv
273_alpha_singleton_ColorConstant_MATCHING_BRAD_extraDisCues_01_2020_Mar_09_1039.csv
274_alpha_singleton_ColorConstant_MATCHING_BRAD_extraDisCues_01_2020_Mar_09_1357.csv
275_alpha_singleton_ColorConstant_MATCHING_BRAD_extraDisCues_01_2020_Mar_10_1203.csv
276_alpha_singleton_ColorConstant_MATCHING_BRAD_extraDisCues_01_2020_Mar_10_1356.csv
277_alpha_singleton_ColorConstant_MATCHING_BRAD_extraDisCues_01_2020_Mar_11_1037.csv
278_alpha_singleton_ColorConstant_MATCHING_BRAD_extraDisCues_01_2020_Mar_11_1504.csv
279_alpha_singleton_ColorConstant_MATCHING_BRAD_extraDisCues_01_2020_Mar_12_1228.csv
280_alpha_singleton_ColorConstant_MATCHING_BRAD_extraDisCues_01_2020_Mar_12_1554.csv

In [4]:
all_subs_data

,block,trialNum,trial_type,dis_PresentorAbsent,corrResp,subResp,trialCorr?,RT,"stim_loc(T,D)",ITI,"Tar,Dis,Other",trial_trigs,triggers,subject
0,0,0,neut,Absent,p,p,1.0,1.159989,"('9', 'noDis')",2.0,"('green_circle', 'noDis', 'green_diamond')",None,NaN,256
1,0,1,neut,Absent,q,q,1.0,0.881009,"('9', 'noDis')",2.6,"('green_circle', 'noDis', 'green_diamond')",None,NaN,256
2,0,2,neut,Absent,p,p,1.0,0.941996,"('12', 'noDis')",1.4,"('green_circle', 'noDis', 'green_diamond')",None,NaN,256
3,0,3,dis,Present,p,q,0.0,1.830553,"('11', '1')",1.9,"('green_circle', 'pink_diamond', 'green_diamond')",None,NaN,256
4,0,4,dis,Present,p,p,1.0,1.061403,"('5', '7')",2.4,"('green_circle', 'pink_diamond', 'green_diamond')",None,NaN,256
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,7,59,neut,Absent,p,p,1.0,0.860256,"('7', 'noDis')",1.7,"('green_diamond', 'noDis', 'green_circle')",None,NaN,280
508,7,60,dis,Present,p,p,1.0,0.813958,"('7', '6')",1.6,"('green_diamond', 'pink_circle', 'green_circle')",None,NaN,280
509,7,61,dis,Present,p,p,1.0,0.910096,"('12', '1')",2.4,"('green_diamond', 'pink_circle', 'green_circle')",None,NaN,280
510,7,62,neut,Absent,p,p,1.0,1.142582,"('12', 'noDis')",2.1,"('green_circle', 'noDis', 'green_diamond')",None,NaN,280
511,7,63,neut,Absent,p,p,1.0,0.843830,"('12', 'noDis')",2.2,"('green_diamond', 'noDis', 'green_circle')",None,NaN,280

In [5]:
all_subs_data.sort_values('trialCorr?')

,block,trialNum,trial_type,dis_PresentorAbsent,corrResp,subResp,trialCorr?,RT,"stim_loc(T,D)",ITI,"Tar,Dis,Other",trial_trigs,triggers,subject
292,4,36,neut,Present,q,p,0.0,1.366657,"('3', '1')",2.6,"('green_circle', 'pink_diamond', 'green_diamond')",None,NaN,263
124,1,60,neut,Present,q,p,0.0,0.893510,"('6', '5')",2.3,"('green_diamond', 'blue_circle', 'green_circle')",None,NaN,271
416,6,32,dis,Present,p,q,0.0,1.393140,"('1', '7')",1.9,"('green_circle', 'blue_diamond', 'green_diamond')",None,NaN,279
329,5,9,dis,Present,q,p,0.0,0.944911,"('5', '6')",1.4,"('green_circle', 'pink_diamond', 'green_diamond')",None,NaN,267
126,1,62,dis,Present,q,p,0.0,1.143205,"('1', '3')",1.7,"('green_circle', 'blue_diamond', 'green_diamond')",None,NaN,271
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,7,43,neut,Present,q,None,NaN,NaN,"('6', '9')",2.2,"('green_circle', 'blue_diamond', 'green_diamond')",None,NaN,279
494,7,46,neut,Absent,q,None,NaN,NaN,"('9', 'noDis')",2.2,"('green_diamond', 'noDis', 'green_circle')",None,NaN,279
4,0,4,dis,Present,q,None,NaN,NaN,"('11', '5')",2.6,"('green_circle', 'pink_diamond', 'green_diamond')",None,NaN,280
98,1,34,dis,Present,p,None,NaN,NaN,"('7', '9')",1.5,"('green_circle', 'pink_diamond', 'green_diamond')",None,NaN,280
158,2,30,neut,Absent,p,None,NaN,NaN,"('7', 'noDis')",2.6,"('green_diamond', 'noDis', 'green_circle')",None,NaN,280

In [6]:
all_subs_data.groupby(['trial_type','dis_PresentorAbsent'])['RT','trialCorr?',].mean()

<ipython-input-6-dae2f76d998b>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  all_subs_data.groupby(['trial_type','dis_PresentorAbsent'])['RT','trialCorr?',].mean()

                                      RT  trialCorr?
trial_type dis_PresentorAbsent
dis        Present              1.112686    0.904906
neut       Absent               1.034410    0.953014
           Present              1.118760    0.893293

In [ ]:
all_subs_data_copy.sort_values('trialCorr?')

In [ ]:
all_subs_data.groupby(['trial_type','dis_PresentorAbsent'])['RT','trialCorr?',].mean()

In [ ]:
all_subs_dfs[0]

In [ ]:
all_subs_dfs[0].groupby(['trial_type','dis_PresentorAbsent']).mean()

In [ ]:
all_subs_dfs[0].groupby(['trial_type','dis_PresentorAbsent'])['RT','trialCorr?'].mean()

In [ ]:
gpby=all_subs_data.groupby(['subject','trial_type','dis_PresentorAbsent']).mean()
#gpby.columns
gpby

In [ ]:
#Different trial types:
#Neutral cue distractor present
#Neutral cue distractor absent
#Distractor cue distractor present, cue 100% valid
#